@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Merriweather&family=Poppins:wght@400;500&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(65, 2, 65);
    color: white;
    height: 65px;
    display: flex;
    font-size: 27px;
    align-items: center;
    padding: 0 30px;
    font-family: 'DM Sans', sans-serif;

}

nav ul {
    list-style-type: none;

}

.gameContainer{
 /* background-color: rgb(230, 230, 198); */
 display: flex;
 justify-content: center;
 margin-top: 50px;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-columns: repeat(3. 10vw);
}

.box{
    height: 120px;
    border:1.5px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.box:hover{
    background-color: rgb(238, 221, 238);
}

.imgbox img{
    height: 25vh;
    width: 10vw;
    display: none;
}


.gameInfo{
    padding: 0 34px;
}
.br-0{
    border-right: 0;

}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
 border-bottom: 0;
}
